body{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-image: url("background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    text-shadow: 4px 4px 2px royalblue;
    color: fuchsia;
}
form {
    width: 50%;
    margin: 10px auto;
    line-height: 1.2;
  }
  form p {
    padding-left: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  em.error {
    margin-left: 5px;
    padding: 2px 4px;
    background-color: red;
    color: white;
    border-radius: 2px;
  }
#codec{
  padding-top: 50px;
}
footer{
  background-image: url("/Users/zacharykalebstephens/Documents/E-Commerce-Project/footerbackground.jpg");
  background-size: 100%;
background-repeat: no-repeat;
}